.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: black;
}
.left {
  text-align: center;
  padding: 1.5%;
  position: absolute;
  left: 0;
  background-color: lightgray;
  width: 400px;
  height: fit-content;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: inline;
}

.right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  margin-top: 50px;
}

.portfolioText {
  position: absolute;
  top: -40px;
  left: 87px;
  color: white;
}
.pictureContainer {
  display: flex;
  margin-top: 30px;
  gap: 39px;
  flex-wrap: wrap;
  width: 44.8%;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}
.right .imgboks {
  width: 200px;
  color: black;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 11px;
}
.portfolioNames h2 {
  margin-top: 20px;
  background-color: white;
  padding: 3%;
  color: black;
  cursor: pointer;
  width: 100%;
}
